*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    width: 80%;

}
header{
background-image: url(img/pattern.png);
background-size: 20%;
background-color: rgb(44, 158, 224);
}
header img{
    width: 15%;
    margin-top: 10px;
}

.autore{
    color: aqua;
}

.img1 img2 {
    width: 40%;
}

.testo{
    padding: 20px 0px;
}

.highlighter{
    background-color: yellow;
}

ul{
    margin-left: 20px;
}

table{
    width: 100%;
    border-spacing: 0;
    padding: 20px 0;
}

thead{
   color: white;
   background-color: rgb(44, 158, 224) ; 
}

.right-column{
    width: 40%;
}

.tabella1 {
    background-color: aqua;
}

.tabella3 {
    background-color: aqua;
}

