*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    width: 80%;
    margin: auto;
}

header{
background-image: url(img/pattern.png);
background-size: 20%;
background-color: rgb(44, 158, 224);
}

header img{
    width: 15%;
    margin-top: 10px;
}

.nome{
    color: aqua;
}

.autore{
    font-size: 12px;
}

.data{
    font-size: 12px;
}


.descrizione{
    font-size: 10px;
}

.testo{
    padding: 20px 0px;
}

.highlighter{
    background-color: yellow;
}

ul{
    margin-left: 20px;
}

table{
    width: 100%;
    border-spacing: 0;
    padding: 20px 0;
}

thead{
   color: white;
   background-color: rgb(44, 158, 224) ; 
   text-align: left;
}

.right-column{
    width: 40%;
}

.riga1 {
    background-color: aqua;
}

.riga3 {
    background-color: aqua;
}

h3{
    padding-top: 20px;
    color: gray;
}

.monitor{
    background-image: url(img/monitor.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    color: white;

}

.graph{
    background-image: url(img/graph.jpg);
    background-size: cover;
    width: 200px;
    height: 150px;
    padding-top: 10px;
    color: white;
    margin-top: 10px;
}

